*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Yanone Kaffeesatz";
}
body {
  background-color: rgb(0, 0, 0);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove animations preference */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h2 {
  font-size: 3rem;
  color: rgb(224, 217, 217);
}

p {
  font-size: 1rem;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: clamp(0.5rem, 4vw, 4rem);
  transition: background-color 1s ease-in-out;
}
.navbar:hover {
  background-color: #705a2b;
}

.navbar a {
  display: block;
  color: rgb(224, 217, 217);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.8s;
}

.navbar a:hover {
  color: #ffffff;
}
.text {
  font-family: "Yanone Kaffeesatz";
  font-size: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
.text .wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.text .wrapper .letter {
  transition: 2s cubic-bezier(0.25, -0.02, 0.26, 0.95);
  transform: translateY(40%);
  color: rgb(233, 227, 227);
}
.text .wrapper .shadow {
  transform: scale(1, -1);
  color: #2c2c2c;
  transition: ease-in 5s, ease-out 5s;
}
.text .wrapper:hover .letter {
  transform: translateY(-3%);
  transition-duration: 500ms;
}
.text .wrapper:hover .shadow {
  opacity: 0;
  transform: translateY(100%);
}
.text .wrapper:nth-child(6) {
  margin-right: 15px;
}

.text .wrapper:nth-child(7) {
  margin-left: 15px;
}

@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: center;
    gap: clamp(0.1rem, 1vw, 2rem);
    transition: background-color 1s ease-in-out;
  }
  .text {
    font-family: "Yanone Kaffeesatz";
    font-size: 60px;
    display: flex;
    justify-content: center;
    user-select: none;
  }
  .text .wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  .presentation-headline {
    display: flex;
    justify-content: center;
    max-width: 700px;
    padding-inline: 1rem;
    font-size: 3rem;
    color: rgb(192, 187, 187);
  }
}

#intro {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#intro img {
  height: 50%;
  position: relative;
  z-index: -1;
  width: 400px;
  object-fit: cover;
  filter: brightness(0.93) contrast(1.2);
}

#projects h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.presentation {
  max-width: 700px;
  padding-inline: 1rem;
  font-size: 20px;
  color: rgb(192, 187, 187);
}

#projects {
  text-align: center;
  padding-bottom: 4rem;
}

#projects-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(1rem, 8vw, 8rem);
  max-width: 1200px;
  padding-inline: 1rem;
  margin-inline: auto;
  text-align: center;
  padding-block: 1rem;
}

#projects-gallery img {
  border-radius: 1rem;
  object-fit: cover;
  border: 3px solid rgb(224, 217, 217);
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
  transition: transform 300ms, background-color 300ms;
}

#projects-gallery img:hover {
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  border: 3px solid white;
}

#projects-gallery a {
  color: rgb(192, 187, 187);
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 30px;
  transition: 0.7s;
}

.github-link {
  font-size: 16px !important;
  color: #bb9440 !important;
}

.github-link:hover {
  font-size: 17px !important;
  color: white !important;
}

#projects-gallery a:hover {
  color: white;
}

#connect {
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: background-color 1s ease-in-out;
}

#connect:hover {
  background-color: #705a2b;
}

#connect-headline {
  font-size: 50px;
  text-align: center;
  color: rgb(192, 187, 187);
  text-decoration: none;
}

.icon-link {
  font-size: 40px;
  display: inline-flex;
  padding-inline: 0.68rem;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: rgb(192, 187, 187);
  transition: 0.7s;
}

.icon-link:hover {
  color: white;
}
